<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <select data-live-search="true" (change)="getDateStatistics($event.target.value)">

        <option *ngFor="let ssDate of ssDates" value={{ssDate}}>
          {{ssDate}}
        </option>
      </select>
      <mat-table [dataSource]="ssDateDetails">
      <ng-container>
        <div *matHeaderCellDef>Date</div>
        <div *matCellDef="let ssDD">{{ssDD.send_date}}</div>
      </ng-container>
        <ng-container>
          <div *matHeaderCellDef>Product</div>
          <div *matCellDef="let ssDD">{{ssDD.ref_product}}</div>
        </ng-container>

          <!--<mat-header-cell>Emails</mat-header-cell>-->
          <!--<mat-header-cell>Shooted Volume</mat-header-cell>-->
          <!--<mat-header-cell>Delivered Volume</mat-header-cell>-->
          <!--<mat-header-cell>Delivery Rate</mat-header-cell>-->
          <!--<mat-header-cell>Openers</mat-header-cell>-->
          <!--<mat-header-cell>Openers %</mat-header-cell>-->
          <!--<mat-header-cell>Clickers</mat-header-cell>-->
          <!--<mat-header-cell>Clickers %</mat-header-cell>-->
          <!--<mat-header-cell>Unsubscribed</mat-header-cell>-->
          <!--<mat-header-cell>Unsubscribe Details</mat-header-cell>-->
          <!--<mat-header-cell>Complaint</mat-header-cell>-->
          <!--<mat-header-cell>Bounced</mat-header-cell>-->
          <!--<mat-header-cell>Bounce Details</mat-header-cell>-->

        <!--<mat-row *ngFor="let ssDD of ssDateDetails | paginate:{itemsPerPage: 20, currentPage: pagenumber}">-->
         <!--<mat-cell>{{ ssDD.email_name }}</mat-cell>-->
         <!--<mat-cell>{{ ssDD.shooted_volume }}</mat-cell>-->
         <!--<mat-cell>{{ ssDD.delivered_volume }}</mat-cell>-->
         <!--<mat-cell>{{ calculatePercentage(ssDD.delivered_volume,ssDD.shooted_volume) }}%</mat-cell>-->
         <!--<mat-cell>{{ ssDD.opener }}</mat-cell>-->
         <!--<mat-cell>{{ calculatePercentage(ssDD.opener,ssDD.delivered_volume) }}%</mat-cell>-->
         <!--<mat-cell>{{ ssDD.clicker }}</mat-cell>-->
         <!--<mat-cell>{{ calculatePercentage(ssDD.clicker, ssDD.opener) }}%</mat-cell>-->
         <!--<mat-cell>{{ ssDD.unsubscriber }}</mat-cell>-->
         <!--<mat-cell>-->
            <!--<button *ngIf="ssDD.unsubscriber" type="button" class="btn btn-outline-secondary" popoverTitle="Unsubscribe Details" [autoClose]="'outside'" ngbPopover="{{unsubscribeDetails}}">-->
              <!--Details-->
            <!--</button>-->
         <!--</mat-cell>-->
         <!--<mat-cell>{{ ssDD.complaint }}</mat-cell>-->
         <!--<mat-cell>{{ ssDD.bounced }}</mat-cell>-->
         <!--<mat-cell>-->
            <!--<button *ngIf="ssDD.bounced" type="button" class="btn btn-outline-secondary" popoverTitle="Bounce Details" [autoClose]="'outside'" ngbPopover="{{ssDD.bouncedetails}}">-->
              <!--Details-->
            <!--</button>-->
         <!--</mat-cell>-->
        <!--</mat-row>-->
      </mat-table>
      <hr />
    </div>
    <pagination-controls (pageChange)="pagenumber = $event"></pagination-controls>
  </div>
</div>
